body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.mainarea {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menublock {
    display: block;
    justify-content: center;
    width: 100vw;
    align-items: center;
    background-color: rgb(240, 240, 240);
    width: fit-content;
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.30);
    margin: 55px;
}

#menublock a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

h1{
    text-align: center;
}

header{
    display: flex;
    background-color: #292929;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

#logo{
    margin-right: 900px;
}

#barrapesquisa{
    display: flex;
    background-color: rgb(112 112 112);
    margin: 20px;
    border-radius: 15px;
}

#formpesquisa{
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

label{
    margin-left: 10px;
    margin-right: 5px;
}

input{
    background-color: #be1522;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: none;
    margin-left: 15px;
}

input[type=text]{
    background-color: white;
    color: black;
}

input[type=password]{
    background-color: white;
    color: black;
}

input[type=file]{
    background-color: white;
    color: black;
}

select{
    background-color: white;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    border: none;
}

#divresult{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(112 112 112);
    margin: 20px;
    border-radius: 15px;
    padding: 20px;
}

#divprods{
    width: 30vw;
}

#imgprods{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}

#imgprods img{
    margin: 10px 0px 10px 0px;
}

#enviar {
    background-color: #be1522;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

#alterar {
    background-color: #be1522;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

#excluir {
    background-color: #be1522;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

#pesquisar {
    background-color: #be1522;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.box{
    background-color: #be1522;
    color: white;
    text-align: center;
    padding: 10px;
}

.buy {
    background-color: #be1522;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.remove {
    background-color: #be1522;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

span{
    position: absolute;
    top: 30px;
    right: 35px;
    background-color: #be1522;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 0px;
    text-align: center;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

td {
    padding: 10px;
    text-align: center;
}